.container{
    position: relative;
    bottom: 1000px;
}
.card{
    position: absolute;
    top: 150px;
    left: 370px;
    width: 450px;
    /* height:500px; */
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0,0.2);

}

.card-title {
    font-weight: bold;
    color:rgb(226, 222, 222);
}

.card-text {
    color:rgb(226, 222, 222);
}

